In [2]:
# Importing Necessary Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("netflix_titles.csv")

In [4]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7559,s7560,Movie,Naruto Shippuden : Blood Prison,Masahiko Murata,"Junko Takeuchi, Chie Nakamura, Rikiya Koyama, ...",Japan,"September 1, 2017",2011,TV-14,102 min,"Action & Adventure, Anime Features, Internatio...",Mistakenly accused of an attack on the Fourth ...
1280,s1281,Movie,Pelé,"David Tryhorn, Ben Nicholas",NaN,United Kingdom,"February 23, 2021",2021,TV-14,109 min,"Documentaries, International Movies, Sports Mo...",Against the backdrop of a turbulent era in Bra...
6744,s6745,TV Show,Fear Files... Har Mod Pe Darr,NaN,NaN,India,"June 1, 2017",2015,TV-MA,1 Season,"International TV Shows, TV Horror, TV Thrillers","Possessed lovers, witches, haunted houses and ..."
3005,s3006,TV Show,DreamWorks How to Train Your Dragon Legends,NaN,"Jay Baruchel, Craig Ferguson, America Ferrera,...",United States,"January 20, 2020",2011,TV-PG,1 Season,"Kids' TV, TV Action & Adventure, TV Sci-Fi & F...","In this set of shorts, Hiccup and the gang lea..."
3545,s3546,Movie,Uncle Naji in UAE,Ahmed Zain,"Ibrahim Almeirasi, Ahmed Saif, Alia Almannai, ...",United Arab Emirates,"September 1, 2019",2019,TV-14,95 min,"Comedies, International Movies",Two young Yemeni business partners decide to g...

In [5]:
df.drop(["show_id","description"],axis=1,inplace=True)

In [6]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
3902,TV Show,Samantha!,NaN,"Emmanuelle Araújo, Douglas Silva, Sabrina Nona...",Brazil,"April 19, 2019",2019,TV-MA,2 Seasons,"International TV Shows, TV Comedies"
6062,Movie,A Walk to Remember,Adam Shankman,"Mandy Moore, Shane West, Peter Coyote, Daryl H...",United States,"July 1, 2020",2002,PG,102 min,"Dramas, Romantic Movies"
1478,TV Show,Equinox,NaN,"Danica Curcic, Karoline Hamm, Viola Martinsen,...","Denmark, United States","December 30, 2020",2020,TV-MA,1 Season,"International TV Shows, TV Mysteries, TV Thril..."
3938,TV Show,Our Planet,NaN,David Attenborough,"United States, United Kingdom","April 5, 2019",2019,TV-PG,1 Season,"Docuseries, Science & Nature TV"
6254,Movie,Bawarchi,Hrishikesh Mukherjee,"Rajesh Khanna, A.K. Hangal, Durga Khote, Jaya ...",India,"December 31, 2019",1972,TV-PG,125 min,"Classic Movies, Comedies, Dramas"

In [7]:
df.shape

(8807, 10)

In [8]:
df.size

88070

In [9]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [10]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [12]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [13]:
df["country"].value_counts().head(3)

United States     2818
India              972
United Kingdom     419
Name: country, dtype: int64

In [14]:
mode_country = df["country"].mode()[0]
mode_country

'United States'

In [15]:
df["country"] = df["country"].fillna(mode_country)

In [16]:
df["country"].isna().sum()

0

In [17]:
df["date_added"].value_counts().head(3)

January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: date_added, dtype: int64

In [18]:
mode_date = df["date_added"].mode()[0]
mode_date

'January 1, 2020'

In [19]:
df["date_added"] = df["date_added"].fillna(mode_date)

In [20]:
df["date_added"].isna().sum()

0

In [21]:
mode_rating = df["rating"].mode()[0]
mode_rating

'TV-MA'

In [22]:
df["rating"] = df["rating"].fillna(mode_rating)

In [23]:
df["rating"].isna().sum()

0

In [24]:
mode_duration = df["duration"].mode()[0]
mode_duration

'1 Season'

In [25]:
df["duration"] = df["duration"].fillna(mode_duration)

In [26]:
df["duration"].isna().sum()

0

In [27]:
df["director"] = df["director"].fillna("Not Mentioned")

In [28]:
df["director"].isna().sum()

0

In [29]:
df["cast"] = df["cast"].fillna("Not Mentioned")

In [30]:
df["cast"].isna().sum()

0

In [31]:
df.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [32]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [33]:
df = df[~df["rating"].str.contains("min")]

In [34]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [35]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [36]:
df["date_added"] = df["date_added"].str.replace(",","")

In [37]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [38]:
df["date_added"] = pd.to_datetime(df["date_added"], errors='coerce')

In [39]:
df["date_added"].unique()

array(['2021-09-25T00:00:00.000000000', '2021-09-24T00:00:00.000000000',
       '2021-09-23T00:00:00.000000000', ...,
       '2018-12-06T00:00:00.000000000', '2016-03-09T00:00:00.000000000',
       '2020-01-11T00:00:00.000000000'], dtype='datetime64[ns]')

In [40]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
1893,TV Show,DreamWorks Happy Holidays from Madagascar,Not Mentioned,"Tom McGrath, Chris Miller, Christopher Knights...",United States,2020-10-02,2005,TV-PG,1 Season,"Kids' TV, TV Comedies"
2510,Movie,The Beach Loafer,Ali Ragab,"Ahmed Helmy, Yasmin Abdulaziz, Mahmoud Abdel M...",Egypt,2020-05-19,2004,TV-14,112 min,"Comedies, International Movies"
2938,TV Show,Fifty: The Series,Not Mentioned,"Ireti Doyle, Keira Hewatch, Dakore Akande, Omo...",Nigeria,2020-02-07,2018,TV-14,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
7694,Movie,Pahuyut Fighting Beat,Piti Jaturaphat,"Nattanun Jantarawetch, David Bueno, Peerawat H...",Thailand,2018-07-26,2007,TV-MA,82 min,"Action & Adventure, International Movies"
3101,Movie,MFKZ,"Shojiro Nishimi, Guillaume Renard","Kenn Michael, Vince Staples, Dino Andrade, Mic...","France, Japan",2019-12-25,2017,R,95 min,"Action & Adventure, Comedies, International Mo..."

In [41]:
df["year"] = df["date_added"].dt.year

In [42]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year
7618,Movie,Nova: Ultimate Mars Challenge,Gail Willumsen,Lance Lewman,United States,2019-07-01,2012,TV-G,53 min,Movies,2019
352,Movie,The Edge of Seventeen,Kelly Fremon Craig,"Hailee Steinfeld, Woody Harrelson, Kyra Sedgwi...","United States, China",2021-08-01,2016,R,105 min,"Comedies, Dramas",2021
5172,Movie,Bon Cop Bad Cop 2,Alain Desrochers,"Patrick Huard, Colm Feore, Marc Beaupré, Noam ...",Canada,2017-11-11,2017,TV-MA,126 min,"Action & Adventure, Comedies, International Mo...",2017
4926,TV Show,The Honeymoon Stand Up Special,Not Mentioned,"Natasha Leggero, Moshe Kasher",United States,2018-04-17,2018,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies",2018
6379,Movie,Brooklyn's Finest,Antoine Fuqua,"Richard Gere, Don Cheadle, Ethan Hawke, Wesley...",United States,2018-10-01,2009,R,133 min,"Dramas, Thrillers",2018

In [43]:
df["month"] = df["date_added"].dt.month

In [44]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month
3469,Movie,Little Baby Bum: Go Buster,Not Mentioned,Not Mentioned,United States,2019-10-01,2019,TV-Y,58 min,Children & Family Movies,2019,10
56,Movie,Naruto Shippuden the Movie: Blood Prison,Masahiko Murata,"Junko Takeuchi, Chie Nakamura, Rikiya Koyama, ...",Japan,2021-09-15,2011,TV-14,102 min,"Action & Adventure, Anime Features, Internatio...",2021,9
4603,Movie,Sat Shri Akaal England,Vikram Pradhan,"Ammy Virk, Monica Gill, Karamjit Anmol, Sardar...",India,2018-10-01,2017,TV-14,127 min,"Comedies, Dramas, International Movies",2018,10
5504,Movie,Kiss & Cry,Sean Cisterna,"Sarah Fisher, Luke Bilyk, Chantal Kreviazuk, S...",Canada,2017-05-01,2017,TV-MA,93 min,"Dramas, International Movies, Romantic Movies",2017,5
4582,Movie,Luv Shuv Tey Chicken Khurana,Sameer Sharma,"Kunal Kapoor, Huma Qureshi, Rajesh Sharma, Vip...",India,2018-10-01,2012,TV-14,129 min,"Comedies, International Movies, Romantic Movies",2018,10

In [45]:
df["day"] = df["date_added"].dt.day

In [46]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
149,Movie,I Got the Hook Up,Michael Martin,"Master P, Anthony Johnson, Gretchen Palmer, Fr...",United States,2021-09-01,1998,R,93 min,"Action & Adventure, Comedies",2021,9,1
2678,Movie,Jem and the Holograms,Jon M. Chu,"Aubrey Peeples, Stefanie Scott, Hayley Kiyoko,...",United States,2020-04-16,2015,PG,119 min,"Children & Family Movies, Dramas, Music & Musi...",2020,4,16
8383,Movie,The Last Days of Chez Nous,Gillian Armstrong,"Lisa Harrow, Bruno Ganz, Kerry Fox, Miranda Ot...",Australia,2016-11-01,1992,R,93 min,"Classic Movies, Dramas",2016,11,1
791,Movie,Felon,Ric Roman Waugh,"Stephen Dorff, Val Kilmer, Harold Perrineau, M...",United States,2021-06-02,2008,R,104 min,"Action & Adventure, Dramas",2021,6,2
8099,Movie,Straight Up,James Sweeney,"James Sweeney, Katie Findlay, Randall Park, Hi...",United States,2020-06-26,2020,TV-MA,96 min,"Comedies, Independent Movies, LGBTQ Movies",2020,6,26

In [47]:
df["genre"] = df["listed_in"].str.split(",").str[0]

In [48]:
df["genre"].value_counts().head(5)

Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: genre, dtype: int64

In [49]:
df = df[df["cast"]!="Not Mentioned"]

In [50]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [51]:
df["lead_actor"].value_counts().head(5)

Shah Rukh Khan        26
Akshay Kumar          23
David Attenborough    20
Adam Sandler          20
Amitabh Bachchan      20
Name: lead_actor, dtype: int64

In [52]:
df.drop(["date_added","cast","listed_in"],axis=1,inplace=True)

In [53]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
8418,Movie,The Mayor,Park In-je,South Korea,2017,TV-MA,130 min,2017,9,30,Dramas,Min-sik Choi
8631,Movie,Trixie Mattel: Moving Parts,Nicholas Zeig-Owens,United States,2019,TV-MA,91 min,2020,3,27,Documentaries,Brian Firkus
1909,Movie,Free State of Jones,Gary Ross,United States,2016,R,139 min,2020,10,1,Action & Adventure,Matthew McConaughey
1528,TV Show,Run On,Not Mentioned,South Korea,2020,TV-MA,1 Season,2020,12,17,International TV Shows,Yim Si-wan
6946,Movie,Head Count,Elle Callahan,United States,2018,TV-MA,90 min,2019,9,13,Horror Movies,Isaac Jay

In [54]:
df.to_csv("cleaned_data.csv")